body{
    background-color: #cde6e3 !important;
}
.centre{
    background-color: white;
    font-size: 17px;
}
p{
    margin-top: 15px;
}
.top_text{
    font-family: 'Karantina', cursive;
    font-size: 20px;
    color: white;
}
h2{
    margin: 15px 0;
    font-family: 'Karantina', cursive;
    color: white;
}
footer{
    text-align: center;
    background-color: #f8f9fa;
    margin:0;
}
ul{
    list-style: none;
}
footer ul li{
    text-align: center;
    display: inline-block;
    
    padding: 5px 55px 0 0;
}

footer ul li a{
    color: rgba(0,0,0,.5);
}
footer ul li a:hover{
    color: rgba(0,0,0,.9);
    text-decoration: none;
}
/*adoration style*/

#playlist li a{
    color: black;
    text-decoration: none;
}
#playlist .current-song a{
    color: blue;
    text-decoration: underline;
}
/*translation*/
.lien {
    height: 49px;
    padding: 5px 0 15px 0;
}
.lien m6 {
    background-position: -755px 0;
    left: 0;
}
.lien a{
    text-transform: uppercase;
    color: white;
    border: 1px solid #6699cc;
    background-color: #6699cc;
    padding: 20px 20px ;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    font-weight: 500;
    margin: 0 100px;
}
.lien a: hover{
    color: #006699 !important;
}
.lien1 a{
    text-decoration: none;
    margin: 0 100px;
    color: #006699;
    font-weight: 500;
}
.lien1 a:hover{
    color: ;
}
.text_trans{
    font-size: 14px;
    color: #003366;
}